@charset "utf-8";

@import url('https://www.idpf.org/epub/css/epub-spec-2016.css');

dl#roles dt,
dl#types dt {
    margin-bottom: 1em;
    font-weight: bold;
}
div.history {
    margin-top: 2em;
    margin-bottom: 2em
}
