@charset "utf-8";

@import url('epub-spec-2016.css');

dl#roles dt,
dl#types dt {
    margin-bottom: 1em;
    font-weight: bold;
}
div.history {
    margin-top: 2em;
    margin-bottom: 2em
}

div.warn {
	position: fixed;
    border: 0.15em solid red;
	padding-left: 1rem;
    padding-right: 0.5em;
    background-color: khaki;
    top: 0.5rem;
}
header {
    padding-top: 7rem;
}
