/****************************************************/
/*  property tables                                 */
/****************************************************/

/* ensure confomity of width for property tables */
div.informaltable > table {
	border-spacing: 0px;
	border: none;
	font-size: 1em;
	width: 100%
}

div.informaltable > table td, div.informaltable > table th {
	border: none;
	background-color: rgb(236,246,255);
	color: rgb(0,0,0);
	padding: 0.3em;
	vertical-align: top;
}

td.vocab-property > code {
    color: rgb(0,50,116);
    font-weight: bold;
    font-size: 1.1em
}

div.informaltable > table td.vocab-property-header {
    text-align: left;
	vertical-align: top;
    width: 8em;
    border-right: 1px solid rgb(145,200,255);
}

div.informaltable > table td.vocab-property-header,
div.informaltable > table td.vocab-property-border {
    border-left: 5px solid rgb(145,200,255);
}

div.informaltable > table td.multi-para {
    padding-top: 7px;
}
td.vocab-property-desc, td.entry, td.vocab-property {
    padding: 3px 3px 3px 10px;
}

td.vocab-cardinality > p {
	padding: 0em;
	margin: 0em
}

